:root {
  --dgray:  rgb(  24,  24,  24 );
  --mgray:  rgb(  61,  61,  61 );
  --lgray: rgb(  99,  99,  99 );
  --llgray: rgb( 121, 121, 121 );
  --fred:   rgb(  88,  66,  66 );
  --red:    rgb( 125,  66,  66 ); }

html {
  width: 100%;
  height: 0%;
  margin: 0;
  padding: 0;
  background-color: var( --dgray );
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden; }
html::-webkit-scrollbar { display: none; }
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  margin: 0;
  position: relative; }

#col_red { color: var( --red ); }

#background {
  width: 100%;
  height: 3100px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  opacity: .1; }
#background_container {
  width: 100%;
  height: 3100px;
  z-index: -2; }

.description_container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  height: 20%;
  background-color: var( --dgray );
  border-radius: 10px;
  border-color: var( --red );
  box-shadow: 0 0 10px var( --fred );
  padding: 0 15px;
  color: var( --lgray ); }