:root {
  --dgray:  rgb(  24,  24,  24 );
  --mgray:  rgb(  61,  61,  61 );
  ---lgray: rgb(  99,  99,  99 );
  --llgray: rgb( 121, 121, 121 );
  --fred:   rgb(  88,  66,  66 );
  --red:    rgb( 125,  66,  66 ); }

html {
  width: 100%;
  height: 3100px;
  margin: 0;
  padding: 0;
  background-color: var( --dgray );
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none; }
html::-webkit-scrollbar { display: none; }
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  margin: 0;
  position: relative; }

#col_red { color: var( --red ); }

#background {
  width: 100%;
  height: 3100px;
  background-image: linear-gradient( to bottom, rgba( 255, 255, 255, 0 ) 0px, rgba( 255, 255, 255, .777 ) 0px, rgba( 255, 255, 255, 0 ) 0px ), url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  opacity: .1; }
#background_container {
  width: 100%;
  height: 3100px;
  z-index: -2;}

.options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  background-color: var( --dgray );
  box-shadow: 0 0 15px rgba( 0, 0, 0, 0.5 );
  z-index: 1;
  display: block; }
.options>div {
  position: absolute;
  right: 0; }
.options>div>a {
  position: relative;
  top: 10px;
  right: 0;
  color: var( --mgray );
  text-decoration: none;
  transition: color .111s ease-in-out;
  display: inline-block;
  margin: 0 25px;
  padding: 50px 5px 10px 5px;
  font-size: 1.5em; }
.options>a:hover { color: var( --llgray ); }
.hover_underline_anim {
  display: inline-block;
  position: relative;
  color: var( --mgray ); }
.hover_underline_anim::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: var( --llgray );
  transform-origin: bottom right;
  transition: transform 0.111s ease-out; }
.hover_underline_anim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; }

.mission_container {
  position: absolute;
  top: 333px;
  width: 100%;
  height: 250px;
  background-color: var( --dgray );
  box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.5 );
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; }
.mission_statement {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX( -50% );
  width: 75%;
  max-width: 940px;
  height: 240px;
  text-align: center;
  color:var( ---lgray );
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  line-height: 55px; }
#logo {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 75px;
  height: 75px; }
.brand_name {
  position: absolute;
  top: 15px;
  left: 85px;
  color: var( --mgray );
  font-size: 1.5em; }

#services {
  position: absolute;
  top: 800px; }
.service {
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translateX( -50% );
  min-width: 450px;
  width: 50%;
  max-width: 1000px;
  border-collapse: collapse;
  border: 3px solid var( --mgray ); }
.service_header {
  position: absolute;
  top: 920px;
  left: 50%;
  transform: translateX( -50% );
  min-width: 450px;
  width: 50%;
  max-width: 1000px;
  color: var( --mgray );
  text-align: center; }
.service_icons {
  color: var( --fred );
  position: relative;
  top: 42px;
  right: -38%;
  transition: background-color .222s ease-in-out; }
.service_title {
  color: var( --mgray );
  position: relative;
  top: -10px;
  left: 15px;
  width: 195px;
  font-size: 1.5em;
  text-align: left;
  transition: background-color .222s ease-in-out; }
.service_hover {
  background-color: var( --dgray );
  transition: background-color .222s ease-in-out; }
.service_hover:hover {
  background-color: var( --mgray );
  cursor: pointer; }
.service_hover:hover .service_icons { color: var( --red  ); }
.service_hover:hover .service_title { color: var( --dgray ); }

#hidden_paragraph {
  z-index: -1;
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translateX( -50% );
  min-width: 400px;
  width: 50%;
  max-width: 800px;
  background-color: var( --dgray );
  box-shadow: 0 0 15px rgba( 0, 0, 0, 0.5 );
  transition: ease-in-out .222s; }
#hidden_paragraph>h2 { text-align: center; }
.hidden_txt {
  position: relative;
  left: 15%;
  width: 70%;
  height: 100%;
  display: none;
  color: var( --mgray );
  padding: 10px;
  font-size: 1.5em;
  text-align: left;}

.contact_us {
  background-color: var( --dgray );
  border: 2px solid var( --mgray );
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX( -50% );
  min-width: 200px;
  width: 25%;
  max-width: 400px;
  height: 50px;
  text-align: center;
  transition: ease-in-out .175s;
  color: var( --mgray );
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: large; }

#about_us {
  position: absolute;
  top: 1800px; }
.about_header {
  position: absolute;
  top: 1920px;
  left: 50%;
  transform: translateX( -50% );
  min-width: 450px;
  width: 50%;
  max-width: 1000px;
  color: var( --mgray );
  text-align: center;}
#about {
  position: absolute;
  top: 2000px;
  left: 50%;
  transform: translateX( -50% );
  min-width: 450px;
  width: 66%;
  max-width: 1500px;
  border: 1px solid var( --red );
  background-color: var( --dgray );
  color: var( --mgray );
  column-count: 4; }
.about_img {
  display: block;
  width: 90%;
  height: auto;
  padding: 5%; }
.about_txt {
  display: block;
  width: 100%;
  height: auto;
  text-align: center; }